{{ range $host, $containers := groupBy $ "Env.VIRTUAL_HOST" }}
upstream {{ $host }} {
{{ range $index, $value := $containers }}
  {{ with $address := last $value.Addresses }}
  server {{ $address.IP }}:{{ $address.Port }};
  {{ end }}
{{ end }}
}

{{ $certName := or (first (groupByKeys $containers "Env.CERT_NAME")) $host }}
{{ $scheme := or (first (groupByKeys $containers "Env.PROXY_SCHEME")) "http" }}

server {
  listen 443 ssl http2 default deferred;
  listen [::]:443 ssl http2 default deferred;

  server_name {{ $host }};

  ssl_certificate /etc/letsencrypt/live/{{ $certName }}/fullchain.pem;
  ssl_certificate_key /etc/letsencrypt/live/{{ $certName }}/privkey.pem;
  ssl_trusted_certificate /etc/letsencrypt/live/{{ $certName }}/chain.pem;

  include /etc/nginx/ssl-options.conf;

  gzip_types text/plain text/css application/json application/x-javascript
             text/xml application/xml application/xml+rss text/javascript;

  include /etc/nginx/letsencrypt.conf;

  location / {
    proxy_pass {{ $scheme }}://{{ $host }};
  }
}
{{ end }}
